{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="p-5 text-center">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


<div class="container">
    <div class="card">
        <div class="card-tile">
            <h1>Login</h1>
        </div>
        <div class="card-body">
          
        </div>
    </div>
</div>


